<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/css/twostyle.css" />
    <link rel="icon" href="../static/img/pokeball.png">
    <title>Erro 404</title>
</head>
<body>
    <div class="conteudo-erro">
        <div class="title">
            <br><br><br><br>
            <h1>Pokemon não encontrado!</h1>
        </div>
        <div class="desc">
            <p>Não se preocupe, tente novamente e você irá<br>achar o seu Pokemon</p>
            <div class="error">
            <img src="../static/img/Pokemon-Pokeball-Transparent.png" alt="">
            </div>
            <button type="submit" class="voltar-erro" onclick="history.go(-1)">Voltar</button>
        </div>
    </div>
</body>
</html>